@import url('normalize.css');
@import url('navigation.css');
@import url('notifications.css');
@import url("https://use.typekit.net/wme5som.css");

/* General  */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.section {
    margin-top: 2.5rem;
}

.section-header {
  padding-bottom: .5rem;
}

.section-header.border {
  border-bottom: 1px solid black;
}

.section-image {
  border: 1px solid gray;
  padding: 1px;
  border-radius: 8px;
  margin-top: 2rem;
}

.section-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Formatted text */
.link.black {
  color: black;
  text-decoration: underline;
}

.highlight {
  color: red;
  font-style: italic;
  font-weight: 600;
}

/* Stacked content */
[class^='stack'] > * {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: .5rem;
}

.stack-large > * + * {
  margin-block-start: 3rem;
}

.stack-small > * + * {
  margin-block-start: 1rem;
}

/* Boxed content  */
.box {
    padding: 1rem;
}

.bordered.box {
    border: 1px solid black;
}

/* Columns */
.flexbox .title {
  font-size: 1.2rem;
}

.column {
  text-align: left;
}

@media (min-width: 680px) {
  .flexbox {
    width: 100%;
    display: -webkit-flex;
    display: flex;
	}

  .column {
    -webkit-flex: 1;
    flex: 1;
    background: none;
  }
}