@import url('normalize.css');
@import url('navigation.css');
@import url('notifications.css');
@import url("https://use.typekit.net/wme5som.css");

/* General  */
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.container-sm {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.section {
  margin-top: 2.5rem;
}

.section-header {
  padding-bottom: .5rem;
}

.section-header.border {
  border-bottom: 1px solid black;
}

.section-image {
  border: 1px solid black;
  padding: 4px;
  border-radius: 8px;
  margin-top: 2rem;
}

.section-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-tagline {
  padding: .25rem;
  font-size: .8rem;
  color: gray;
}

/* Filters */
.filter-wrapper {
  padding: .5rem .5rem .2rem .5rem;
  border: 1px dotted gray;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  padding: .25rem 0;
}

.filter-item {
  margin: 0 .25rem .5rem 0;
}

.filter-link {
  border: 1px solid black;
  padding: 0 8px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  font-size: .9rem;
}

.filter-link.active {
  background-color: black;
  color: white;
}

/* Formatted text */
.jumbotron-title {
  font-weight: 400;
  font-size: 6rem;
  line-height: 100px;
}

.jumbotron-subtitle {
  width: 60%;
}

.link.button {
  padding: 2px 5px;
  font-size: .9rem;
  color: black;
  background: lightgray;
  border-radius: 5px;
}

.link.button:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.link.black {
  color: black;
  text-decoration: underline;
}

.link.red {
  color: red;
  text-decoration: underline;
}

.highlight {
  color: red;
  font-style: italic;
  font-weight: 600;
}

.highlight.yellow {
  color: #ffcd28;
  font-style: italic;
  font-weight: 600;
}

/* Stacked content */
[class^='stack'] > * {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: .5rem;
}

.stack-large > * + * {
  margin-block-start: 3rem;
}

.stack-small > * + * {
  margin-block-start: 1rem;
}

/* Sections */
.section-wrapper .title {
  font-weight: 600;
}

.section-wrapper > * {
  padding-top: 1rem;
  border-top: 4px solid lightgray;
}

.section-wrapper > * + * {
  margin-left: 1rem;
}

.section-link {
  color: red;
  display: block;
}

/* Boxed content  */
.box {
    padding: 1rem;
}

.bordered.box {
    border: 1px solid black;
}

/* Columns */
.flexbox .title {
  font-size: 1.2rem;
}

.column {
  text-align: left;
}

/* Often used */
.justify-between {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* After larger */
@media (min-width: 768px) {
  .flexbox {
    width: 100%;
    display: -webkit-flex;
    display: flex;
	}

  .column {
    -webkit-flex: 1;
    flex: 1;
    background: none;
  }
}

/* After smaller */
@media screen and (max-width: 768px) {
  .section-wrapper>* {
    padding: 1rem 0 0 0;
  }

  .section-wrapper > * + * {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .section-link {
    text-align: right;
  }

  .jumbotron-title {
    font-size: 3rem;
    line-height: 50px;
  }

  .jumbotron-subtitle {
    width: 100%;
  }
}