@import url('nav.css');
@import url('notifications.css');
@import url("https://use.typekit.net/wme5som.css");

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.breadcrumbs {
    display: flex;
    color: gray;
    padding: .5rem 1rem;
    background: rgb(231, 231, 231);
    border-radius: 12px;
    font-size: .8rem;
    gap: .5rem;
    width: fit-content;
    text-transform: capitalize;
}

.breadcrumbs a {
    color: darkred;
}

.brandwrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weblogo {
    max-width: 100%;
    width: 250px;
    border-radius: 12px;
    text-align: center;
}

.weblogo.small {
    margin-bottom: 1rem;
    width: 150px;
}

.weblogo.small img {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.link {
    font-style: italic;
    font-size: .9rem;
    text-transform: lowercase;
}

.link.primary {
    color: darkred;
}

.button {
    padding: .25rem .75rem;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: .9rem;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.button.medium {
    padding: .5rem 1rem;
}

.buttongroup {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
}

.button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.button.disabled {
    opacity: 50%;
    pointer-events: none;
}

.button.solidred {
    color: white;
    font-weight: normal;
    background: linear-gradient(to right, #ff4747 5%, #c21a1a 60%);
    background-position: 25%;
    background-size: 330% 100%;
    text-transform: none;
}

.button.go {
    border-color: darkgreen;
    color: darkgreen;
}

.button.go:hover {
    background-color: darkgreen;
    color: white;
}

.button.warning {
    border-color: darkgoldenrod;
    color: darkgoldenrod;
}

.button.warning:hover {
    background: darkgoldenrod;
    color: white;
}

.button.danger {
    border-color: darkred;
    color: darkred;
}

.button.danger:hover {
    background: darkred;
    color: white;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.splitshot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.splitpole {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.pagecontent {
    padding: 1rem;
}

.pagecontent.thin {
    max-width: 400px;
    margin: 0 auto;
}

.pageheader {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.pagetitle {
    margin: 0;
    font-family: aileron, Arial;
    font-weight: 800;
    font-style: normal;
}

.pagesubtitle {
    margin-top: .5rem;
    margin-bottom: .75rem;
    color: #666;
    font-family: aileron, Arial;
    font-style: italic;
    font-weight: 300;
}

.pagesection {
    margin-bottom: 3rem;
}

.sectiontitle {
    margin: 0;
    margin-bottom: .5rem;
    font-family: aileron, Arial;
    font-weight: 800;
    font-style: italic;
    color: darkred;
}

.sectiontext {
    margin: 0;
    margin-bottom: .75rem;
    line-height: 1.5rem;
}

.sectionsubtitle {
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: gray;
    font-weight: 300;
    font-size: 1rem;
    font-family: aileron, Arial;
    font-style: italic;
}

.generallist  {
    margin: 0;
}

.generallist li {
    margin-bottom: .5rem;
    line-height: 1.3rem;
}

.greentext {
    color: darkgreen;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.redtext {
    color: darkred;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.bluetext {
    color: darkblue;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase; 
}

.featured-text {
    font-family: aileron, Arial;
    font-size: .8rem;
    font-weight: 800;
    color: darkblue;
    font-style: italic;
    animation: blink 1s infinite alternate;
    padding-bottom: .5rem;
}

@keyframes blink {
    0% { color: darkblue; } /* Start with darkred */
    50% { color: darkgoldenrod; } /* Blink to yellow at 50% */
    100% { color: darkblue; } /* Back to darkred at 100% */
}

.hiddentext {
    font-weight: bold;
    font-style: italic;
    font-size: .9rem;
}

@media (max-width: 680px) {
    .pageheader {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}