.filters {
    margin-top: .5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.filtercategories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filterstitle {
    margin: 0;
}

.categorylabel {
    margin-top: 0;
    margin-bottom: .5rem;
    color: gray;
    font-style: italic;
    font-size: .9rem;
    font-weight: bold;
}

.filterlist {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    list-style-type: none;
}

.filterlink {
    font-size: .9rem;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    padding: .15rem .45rem;
    text-decoration: none;
}

.filterlink:hover {
    background: black;
    color: white;
}

.filterlink.active {
    background: black;
    color: white;
}

.searchbox {
    border: 1px solid black; 
    border-radius: 8px;
    padding: .5rem;
}

.applybutton {
    text-align: right;
}