/* Filters */
.filter-wrapper {
  padding: .5rem;
  border: 1px dotted gray;
}

.filter-list {
  margin-top: .25rem;
  display: flex;
  flex-wrap: wrap;
  padding: .25rem 0;
}

.radio-list {
  margin-top: .25rem;
  display: flex;
  flex-wrap: wrap;
  padding: .25rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.filter-wrapper input[type="text"] {
  margin-top: .5rem;
  padding: 5px;
  outline: none;
  border: none;
  border-left: 4px solid black;
  border-bottom: 1px dotted gray;
}

.filter-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
}

.filter-buttons button {
  border: 1px solid black;
  padding: 0 8px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  font-size: .9rem;
}

.filter-item {
  margin: 0 .25rem .5rem 0;
}

.filter-link {
  border: 1px solid black;
  padding: 0 8px;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  font-size: .9rem;
}

.filter-link.active {
  background-color: black;
  color: white;
}

/* After smaller */
@media screen and (max-width: 768px) {
  .filter-buttons {
    justify-content: flex-end;
  }
}