form {
    margin-bottom: 1rem;
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

input {
    border-radius: 15px;
    padding: .5rem;
    outline: none;
    border: 1px solid black;
    max-width: 275px;
}

textarea {
    border-radius: 15px;
    padding: .5rem;
    outline: none;
    border: 1px solid black;
    max-width: 700px;
}

label {
    font-size: 1.1em;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

.full {
    min-height: 70vh;
}

select {
    text-transform: none;
    padding: .5rem;
    border-radius: 15px;
    background-color: black;
    color: white;
}