.nav { 
    width: 100%;
    max-width: 900px;
}

.nav .controls {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}

.menubutton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.menustripe {
    height: 3.7px;
    border-radius: 8px;
    width: 25px;
    background-color: black;
}

.accountimage {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
<<<<<<< HEAD
    height: 48px;
    width: 48px;
=======
    height: 40px;
    width: 40px;
>>>>>>> 4039fe6 (Story 36 - modify navigation bar)
    border: 1px solid black;
}

.accountmenu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
    margin: 0;
    padding: 0;
}

.menulink {
    font-family: aileron, Arial;
    text-decoration: none;
    color: black;
}

.pagesmenu {
    display: flex;
    flex-direction: column;
}

.sidemenu {
    z-index: 111;
    top: 0;
    left: 0;
    transform: translateX(-110%);
    position: fixed;
    background: hwb(0 0% 100% / 0.5);
    backdrop-filter: blur(.25rem);
    max-width: 70%;
    width: 300px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease;
}

.sidemenu.open {
    transform: translateX(0);
}

.sidemenu .closewrapper {
    text-align: right;
    max-width: 900px;
    margin: 0 auto;
}

.closebutton {
    border: none;
    background: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem 1rem 0 0;
    margin-bottom: 2rem;
}

.menuprofile {
    padding: 1rem;
    background: #181A21;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menuprofile .avatar {
    width: 50px;
}

.menuprofile .avatar img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid rgb(60, 232, 255);
}

.menuprofile .username {
    color: rgb(60, 232, 255);
    font-size: 22px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.sidemenu > .menulist {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.sidemenu .menuitem:hover {
    background: darkgrey;
}

.sidemenu .menulink {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: normal;
    display: block;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #969696;
    padding: 1rem;
}

@media (max-width: 900px) {
    .nav .controls {
        padding: 1rem;
    }
}