.media-scroller {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 .5rem 1rem;
    scrollbar-width: thin;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
    scroll-padding-inline: 1rem;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: .25rem;
    padding: .4rem;
    background: #c0c0c086;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.media-element .element-title {
    font-size: .9rem;
}

.media-element .element-link {
    color: #333;
    display: grid;
    gap: .5rem;
}

.media-element .element-image {
    inline-size: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.scrollerbuttons {
    display: flex;
    gap: .5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollerbuttons > * {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Webkit Browsers (Chrome, Safari) */
.media-scroller::-webkit-scrollbar {
    height: 8px; /* Change height for vertical scrollbar */
    border-radius: 4px;
}

.media-scroller::-webkit-scrollbar-thumb {
    background-color: #888; /* Gray color */
    border-radius: 4px; /* Rounded corners */
}

.media-scroller::-webkit-scrollbar-track {
    background: transparent; /* No background */
}

@media (max-width: 680px) {
    .media-scroller {
        grid-auto-columns: 54%;
    }
}