.rolelist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.role {
    display: flex;
    gap: .5rem;
}

.roleitem {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.roleitem p {
    margin: 0;
}