.rsvp {
    display: flex;
    flex-direction: column;
}

.rsvpname a {
    color: black;
    text-decoration: none;
    display: block;
}

.rsvpname {
    border-bottom: 4px solid black;
    padding-bottom: .25rem;
    margin: 0;
}

.rsvpname a:hover {
    background: darkred;
    color: white;
}

.paystatus {
    font-family: aileron, Arial;
    font-size: .8rem;
    font-weight: 800;
    color: red;
    font-style: italic;
    padding-bottom: .5rem;
}

.paystatus.rsvppaid {
    color: darkblue;
    animation: blink 1s infinite alternate;
}

.rsvpname {
    margin: 0;
}