<li class="event {% if event.featured %}featured {% endif %}stack-small">
    <div class="eventflex">
        <div class="date">
            <span class="day">{{ event.start_date|date:"d" }}</span>
            <span class="month">{{ event.start_date|date:"M" }}</span>
        </div>
        <div class="type">{{ event.event_type }}</div>
    </div>
    <div class="title">{{ event.name }}</div>
    <p class="description">{{ event.description|truncatewords:30 }}</p>
    <p class="link"><a class="link black" href="{% url 'event-detail' slug=event.slug %}">view event</a></p>
</li>