<div class="event">
    {% if event.featured %}
        <div class="eventfeatured">Featured!</div>
    {% endif %}
    <h3 class="eventname"><a href="{% url 'event-detail' slug=event.slug %}"><span>&#9737;</span> {{ event.name }}</a></h3>
    <div class="eventdate">
        <span>{{ event.start_date }} to {{ event.end_date }}</span>
    </div>
    <div class="eventtype">
        <span class="eventtag">#{{ event.event_type }}</span>
    </div>
    <p class="eventdesc">{{ event.description }}</p>

    <div class="register_and_price">
        {% if event.registration_required %}
            <p class="eventregister">*Register to attend</p>
        {% endif %}
    </div>
</div>