<p class="filterstitle"><strong>Filters</strong></p>
<div class="filters">
    <div class="filtercategories">
        <div class="filtersection">
            <p class="categorylabel">Event Type</p>
            <ul class="filterlist">
                <li class="filteritem"><a class="filterlink {% if event_type == 'camp' %} active {%endif%}" href="{% url 'events-by-type' event_type='camp' %}">camps</a></li>
                <li class="filteritem"><a class="filterlink {% if event_type == 'game' %} active {%endif%}" href="{% url 'events-by-type' event_type='game' %}">games</a></li>
                <li class="filteritem"><a class="filterlink {% if event_type == 'clinic' %} active {%endif%}" href="{% url 'events-by-type' event_type='clinic' %}">clinics</a></li>
                <li class="filteritem"><a class="filterlink {% if event_type == 'tournament' %} active {%endif%}" href="{% url 'events-by-type' event_type='tournament' %}">tournaments</a></li>
            </ul>
        </div>
    </div>
</div>