<div class="eventfilters">
    <p>Filters</p>
    <ul class="filterlist">
        <li class="filteritem"><a class="filterlink" href="{% url 'events_by_type' event_type='camp' %}">#camps</a></li>
        <li class="filteritem"><a class="filterlink" href="{% url 'events_by_type' event_type='game' %}">#games</a></li>
        <li class="filteritem"><a class="filterlink" href="{% url 'events_by_type' event_type='clinic' %}">#clinics</a></li>
        <li class="filteritem"><a class="filterlink" href="{% url 'events_by_type' event_type='training' %}">#trainings</a></li>
        <li class="filteritem"><a class="filterlink" href="{% url 'events_by_type' event_type='combine' %}">#combines</a></li>
    </ul>
</div>