<p class="filterstitle"><strong>Filters</strong></p>
<div class="filters">
    <form method="GET" class="filterform">
        <div class="filtercategories">
            <div class="filtersection">
                <p class="categorylabel">Event Type</p>
                <ul class="filterlist">
                    <li class="filteritem">
                        <input type="radio" name="event_type" value="camp" id="event-type-camp"
                        {% if request.GET.event_type == 'camp' %} checked{% endif %}>
                        <label for="event-type-camp">Camps</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="event_type" value="game" id="event-type-game"
                        {% if request.GET.event_type == 'game' %} checked{% endif %}>
                        <label for="event-type-game">Games</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="event_type" value="clinic" id="event-type-clinic"
                        {% if request.GET.event_type == 'clinic' %} checked{% endif %}>
                        <label for="event-type-clinic">Clinics</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="event_type" value="tournament" id="event-type-tournament"
                        {% if request.GET.event_type == 'tournament' %} checked{% endif %}>
                        <label for="event-type-tournament">Tournaments</label>
                    </li>
                </ul>
            </div>
            <div class="filtersection">
                <button type="submit" class="button primary">Apply</button>
                <a class="button danger" href=".">Clear</a>
            </div>
        </div>
    </form>
</div>