{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Delete event
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
<link href="{% static 'core/css/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<!-- Delete event -->
<div id="delete-event-section" class="section">
    <div class="container">
        <div class="section-header align-left">
            <div class="section-title">Delete Event: {{ object.name }}</div>
            <div class="section-subtitle">Are you sure you want to delete this event?</div>
        </div>

        <!-- Form wrapper -->
        <div class="form-wrapper">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button submit" type="submit">Confirm Deletion</button>
            </form>
            <a href="{% url 'list_events' %}">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}