{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Event
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
<link href="{% static 'market/css/detail_event.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
{% if user.is_staff %}
<div class="container">
    <div class="actions-title">Admin controls: 
        <a class="text-black" href="{% url 'update_event' event.id %}">Update</a>
        <a class="text-black" href="{% url 'delete_event' event.id %}">Delete</a>
    </div>
</div>
{% endif %}
<!-- Event detail -->
<div id="event-detail" class="section">
    <div class="container">
        <div class="section-header">
            <div class="event-title">{{ event.name }}</div>
            <div class="event-description">{{ event.description }}</div>
            <div class="event-location">{{ event.location }}</div>
            <div class="event-dates">{{ event.start_date }} - {{ event.end_date }}</div>
        </div>
    </div>
</div>
{% endblock %}