<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/details.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>
    <script src="{% static 'events/js/details.js' %}" defer></script>

    <title>Event details</title>
</head>
<body>
    {% include 'includes/navigation.html' %}

    <div class="container stack-large">
        <div class="jumbotron stack-small">
            <h1 class="jumbotron-title">{{ event.name }}</h1>
        </div>

        <div class="general stack-small">
            <div class="section-header border">
                <h2>When and where</h2>
            </div>
            <div class="flexbox stack-small">
                <div class="column">
                    <div class="dates">
                        <p>Location: {{ event.location }}</p>
                        <p>Starts: {{ event.start_date }}</p>
                        <p>Ends: {{ event.end_date }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="register stack-small">
            <div class="section-header border">
                <h2>Register</h2>
            </div>
            <div class="flexbox">
                <div class="column">
                    How to Attend?
                </div>
                <div class="column">
                    {% if event.registration_required and event.payment_required %}
                    <div class="roles">
                        <div class="stack-small">
                            {% for role in roles %}
                                <div>
                                    Register as <a class="link red" href="{% url 'rsvp-create' event_slug=event.slug role_id=role.id %}">{{ role.name }} ${{ role.cost }}</a>
                                </div>
                            {% empty %}
                                <a class="link red" href="">No Roles Avaiable</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                        {% if event.registration_required %}
                            <a class="link red" href="{% url 'rsvp-create-no-role' event_slug=event.slug %}">click here</a>
                        {% else %}
                            <p>No payment or registration required for this event.</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="details stack-small">
            <div class="section-header border">
                <h2>Details</h2>
            </div>
            <div class="event-desc">
                {{ event.detailed_description | safe }}
            </div>
        </div>
    </div>

    

    <div class="container">
        {% include 'includes/notifications.html' %}
        <div class="pagecontent">
            <div class="pageheader">
                {% if can_manage %}
                <div class="buttongroup">
                    <a href="{% url 'rsvp-list' event_slug=event.slug %}" class="button go">RSVPs</a>
                    <a href="{% url 'role-list' event_slug=event.slug %}" class="button">All Roles</a>
                    <a href="{% url 'event-update' slug=event.slug %}" class="button warning">Edit</a>
                    <a href="{% url 'event-delete' slug=event.slug %}" class="button danger">Delete</a>
                </div>
                {% endif %}
            </div>
        

            <div class="pagesection eventdesc">
                
            </div>
        </div>
    </div>
</body>
</html>