<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Delete Event</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <h1 class="pagetitle">Delete Event</h1>
                <p class="pagesubtitle">Are you sure you want to delete this event forever! This action cannot be undone.</p>
                <form action="{% url 'event-delete' event.slug %}" method="post">
                    {% csrf_token %}
                    
                    <div class="buttongroup">
                        <a class="button" href="{% url 'event-detail' event.slug %}">Nooooo!</a>
                        <button class="button danger" type="submit">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>