<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'events/details.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Events</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <h1 class="pagetitle">{{ event.name }}</h1>
                <div class="splitshot">
                    <p class="pagesubtitle">{{ event.start_date }} <br> to {{ event.end_date }}</p>
                    
                    {% if event.cost %}
                        <p class="pagesubtitle">Cost: ${{ event.cost }}</p>
                    {% else %}
                        <p class="pagesubtitle">Cost: Free</p>
                    {% endif %}
                </div>

                <div class="detailregister">
                    {% if event.registration_required %}
                        <a class="button" href="{% url 'rsvp_create' event_id=event.id %}">RSVP</a>
                    {% else %}
                        <a class="button disabled" href="">No RSVP Required</a>
                    {% endif %}
                </div>
                
            </div>
            <div class="pagesection">
                <h3 class="sectiontitle">Quickview</h3>
                <p class="sectiontext">{{ event.description }}</p>
            </div>

            <div class="pagesection eventdesc">
                {{ event.detailed_description | safe }}
            </div>


            <div class="pagesection">
                <div class="splitshot">
                    <p class="pagesubtitle">{{ event.start_date }} <br> to {{ event.end_date }}</p>
                    
                    {% if event.cost %}
                        <p class="pagesubtitle">Cost: ${{ event.cost }}</p>
                    {% else %}
                        <p class="pagesubtitle">Cost: Free</p>
                    {% endif %}
                </div>

                <div class="detailregister">
                    {% if event.registration_required %}
                        <a class="button" href="{% url 'rsvp_create' event_id=event.id %}">RSVP</a>
                    {% else %}
                        <a class="button disabled" href="">No RSVP Required</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>