<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/filters.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'events/base.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Filtered Events</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <h1 class="pagetitle">Filtering for: {{event_type}}</h1>
            </div> 

            {% include 'events/_filters_snippet.html' %}

            <div class="pagesection">
                <h3 class="sectiontitle">Filtered Events</h3>
                {% for event in events %}
                    {% include 'events/_event_snippet.html' %}
                {% empty %}
                    <p>No events found.</p>
                {% endfor %}
            </div>

        </div>
    </div>
</body>
</html>