<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/forms.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>RSVP</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <h1 class="pagetitle">RSVP for {{ event.name }}</h1>
                <p class="pagesubtitle">Fill out the form below to RSVP to this event.</p>
            </div>

            <div class="formwrapper">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>