<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>RSVP Invalid</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <h1 class="pagetitle">RSVP Invalid Token</h1>
                <p class="pagesubtitle">The given token is invalid.</p>
            </div>
            <div class="pagesection">
                <h3 class="sectiontitle">Unauthorized Access Detected</h3>
                <p class="sectiontext">
                    You have attempted to access a resource for which you lack proper authorization. Unauthorized access or attempts to breach our systems are against the law and are taken very seriously.
                </p>
            </div>

            <div class="pagesection">
                <h3 class="sectiontitle">Your Actions Have Been Logged</h3>
                <p class="sectiontext">
                    Please be aware that your actions have been logged and recorded for security purposes. Any unauthorized access or attempt to compromise our systems will be thoroughly investigated and appropriate action will be taken.
                </p>
            </div>

            <div class="pagesection">
                <h3 class="sectiontitle">If You Believe This Is an Error</h3>
                <p class="sectiontext">
                    If you believe you have reached this page in error, please contact our support team for assistance.
                </p>
            </div>
        </div>
    </div>
</body>
</html>