{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Update event
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
<link href="{% static 'core/css/forms.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<!-- Update event -->
<div id="update-event-section" class="section">
    <div class="container">
        <div class="section-header align-left">
            <div class="section-title">Update event</div>
            <div class="section-subtitle">This event will be updated.</div>
        </div>

        <!-- Form wrapper -->
        <div class="form-wrapper">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}