<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/scroller.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>
    <script src="{% static 'core/js/scroller.js' %}" defer></script>

    <title>Health</title>
</head>

<body>
    <div class="container">
        {% include 'includes/navigation.html' %}
        {% include 'includes/notifications.html' %}
        <div class="pagecontent">
            <div class="pageheader">
                <h1 class="pagetitle">Health</h1>
                <p class="pagesubtitle">Discover free plans and blogs to learn from. Meet with an expert for a free
                    evaluation.</p>
                <!-- Manager actions -->
                {% if can_manage %}
                <p>
                    <a href="{% url 'plan-list' %}" class="button">All Plans</a>
                    <a href="{% url 'plan-create' %}" class="button go">Create Plan</a>
                    <a href="{% url 'article-create' %}" class="button go">Create Article</a>
                </p>
                {% endif %}
            </div>

            <div class="pagesection">
                <div class="splitshot">
                    <h2 class="sectiontitle">Featured Plans</h2>
                    <div class="scrollerbuttons">
                        <div id="scroll-left" class="button" alt="scroll left">&#171;</div>
                        <div id="scroll-right" class="button" alt="scroll right">&#187;</div>
                    </div>
                </div>
                <div class="media-scroller snaps-inline">
                    {% for plan in plans %}
                    <div class="media-element">
                        <a class="element-link" href="{% url 'plan-detail' slug=plan.slug %}">
                            <img class="element-image" src="{{ plan.featured_image.url }}"
                                alt="plan image placeholder" />
                            <div class="element-title">{{ plan.title|truncatechars:55 }}</div>
                        </a>
                        <div class="featured-text">Featured!</div>
                    </div>
                    {% empty %}
                    <div class="media-element">
                        <a class="element-link" href="#">
                            <img class="element-image" src="https://place-hold.it/320x480"
                                alt="plan image placeholder" />
                            <div class="element-title">No plans found.</div>
                        </a>
                        <div class="featured-text">Coming soon!</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagesection">
                <h2 class="sectiontitle">Strength & Conditioning</h2>
                <p class="sectiontext">
                    Strength training isn't just about building muscle mass; it enhances various aspects of a
                    player's game, from power and resilience to injury prevention and overall athleticism. Here’s a
                    closer look at why strength training is indispensable for rugby players.
                </p>
                <a class="button" href="strength/">Get Strong</a>
            </div>
            <div class="pagesection">
                <h2 class="sectiontitle">Nutrition Info</h2>
                <p class="sectiontext">
                    Nutrition plays a crucial role in an athlete's performance and recovery. A well-balanced diet
                    provides the necessary fuel for training and competition, aids in muscle repair and growth, and
                    helps maintain overall health. Learn about the best dietary practices, essential nutrients, and
                    meal plans tailored for rugby players.
                </p>
                <a class="button" href="nutrition/">Get Healthy</a>
            </div>
            <div class="pagesection">
                <h2 class="sectiontitle">Mental Fitness</h2>
                <p class="sectiontext">
                    Mental fitness is as important as physical fitness for athletes. Techniques such as mindfulness,
                    visualization, and positive self-talk can enhance focus, reduce stress, and improve overall
                    performance. Explore strategies to strengthen your mental resilience and keep your mind sharp on and
                    off the field.
                </p>
                <a class="button" href="mental/">Get Sharp</a>
            </div>
        </div>
    </div>
</body>

</html>