<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="{% static 'health/css/health_category.css' %}">

    <title>Nutrition</title>
</head>
<body>
    {% include 'includes/navigation.html' %} 
    <div class="container stack-large">        
        <div class="jumbotron stack-small">
            <div><a class="link red" href="{% url 'mental-home' %}">Checkout mental. ></a></div>
            <h1>Nutrition</h1>
            <p>Discover free plans and blogs to learn from. Meet with an expert for a free evaluation.</p>
        </div>

        <div class="plans stack-small">
            <div class="section-header">
                <div class="justify-between">
                    <h2>Nutrition plans</h2>
                    <a class="link red" href="{% url 'plan-list' %}">view all</a>
                </div>
            </div>
        </div>

        <div class="trainers stack-small">
            <div class="section-header border">
                <h2>Trainers 1-on-1</h2>
            </div>
            <p>Select a trainer from the list below to request a session.</p>
            
            <div class="trainer-list">
            {% for trainer in trainers %}
            <div class="trainer-card">
                <div class="trainer-avatar">
                    {% if trainer.avatar %}
                        <img src="{{ trainer.avatar.url }}">
                    {% else %}
                        <img src="https://place-hold.it/48x48">
                    {% endif %}
                </div>
                <div class="trainer-username">
                    <a class="link black" href="{% url 'member-profile' username=trainer.username %}">{{ trainer.username }}</a>
                </div>
            </div>
            {% empty %}
                <div>Trainers coming soon..</div>
            {% endfor %}
            </div>
            <div><a class="link red" href="">Are you a trainer looking to help?</a></div>
        </div>

        <div class="categories stack-small">
            <div class="section-header border">
                <h3>Explore other categories</h3>
            </div>
            <div class="stack-small">
                <div><a class="link red" href="{% url 'strength-home' %}">Checkout strength. ></a></div>
                <div><a class="link red" href="{% url 'mental-home' %}">Checkout mental. ></a></div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>