<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="{% static 'health/css/health_category.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/articles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'health/css/plans.css' %}">

    <title>Strength & Conditioning</title>
</head>
<body>
    {% include 'includes/navigation.html' %} 
    <div class="container stack-large">
        <div class="jumbotron stack-small">
            <div><a class="link red" href="{% url 'nutrition-home' %}">Checkout nutrition. ></a></div>
            <h1>Strength & Conditioning</h1>
            <p>Discover free plans and blogs to learn from. Meet with an expert for a free evaluation.</p>
        </div>

        <div class="plans stack-small">
            <div class="section-header">
                <div class="justify-between">
                    <h2>S&C plans</h2>
                    <a class="link red" href="{% url 'plan-list' %}">view all</a>
                </div>
            </div>
            {% if plans %}
            <ul class="plan-list">
                {% for plan in plans %}
                <li class="plan stack-small">
                    <a href="{% url 'plan-detail' slug=plan.slug %}">
                        <div class="plan-cover">
                            <img src="{{ plan.featured_image.url }}" />
                        </div>
                    </a>
                    <div class="plan-meta">
                        <div class="plan-title">
                            <a class="link black" href="{% url 'plan-detail' slug=plan.slug %}">{{ plan.title}}</a>
                        </div>
                        <div class="plan-views">
                            {{ plan.views }} <i class="fa-solid fa-eye"></i>
                        </div>
                        <div class="plan-category">
                            {{ plan.get_type_display }}
                        </div>
                        <div class="plan-author">
                            {{ plan.author }}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No plans for this subject have been made yet.</p>
            {% endif %}
        </div>

        <div class="articles stack-small">
            <div class="section-header border">
                <div class="justify-between">
                    <h2>S&C articles</h2>
                </div>
            </div>
            <div class="article-list">
                {% for article in articles %}
                <div class="article">
                    <div class="article-date">
                        {{ article.created_at|date:"m" }} &#8226; {{ article.created_at|date:"Y" }}
                    </div>
                    <div class="article-title">
                        <a class="link black" href="{% url 'article-detail' slug=article.slug %}">{{ article.title|truncatewords:40 }}</a>
                    </div>
                </div>
                {% empty %}
                    No articles written for this subject yet.
                {% endfor %}
            </div>
        </div>

        <div class="trainers stack-small">
            <div class="section-header border">
                <h2>Trainers 1-on-1</h2>
            </div>
            <p>Select a trainer from the list below to request a session.</p>
            
            <div class="trainer-list">
            {% for trainer in trainers %}
            <div class="trainer-card">
                <div class="trainer-avatar">
                    {% if trainer.avatar %}
                        <img src="{{ trainer.avatar.url }}">
                    {% else %}
                        <img src="https://place-hold.it/48x48">
                    {% endif %}
                </div>
                <div class="trainer-username">
                    <a class="link black" href="{% url 'member-profile' username=trainer.username %}">{{ trainer.username }}</a>
                </div>
            </div>
            {% empty %}
                <div>Trainers coming soon..</div>
            {% endfor %}
            </div>
            <div><a class="link red" href="">Are you a trainer looking to help?</a></div>
        </div>

        <div class="categories stack-small">
            <div class="section-header border">
                <h3>Explore other categories</h3>
            </div>
            <div class="stack-small">
                <div><a class="link red" href="{% url 'nutrition-home' %}">Checkout nutrition. ></a></div>
                <div><a class="link red" href="{% url 'mental-home' %}">Checkout mental. ></a></div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>