<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/rich.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/article_detail.css' %}">


    <title>{{ article.title }}</title>
</head>
<body>
    {% include 'includes/navigation.html' %} 
    <div class="container stack-large">
        <div class="article-header">
            <h1 class="article-title">{{ article.title }}</h1>
            <p class="article-author">written by <a class="link red" href="{% url 'member-profile' article.author %}">{{ article.author }}</a></p>
            <p class="article-views">{{ article.views }} views {{ article.created_at }}</p>
        </div>
        <div class="article-content">{{ article.content | safe }}</div>
    </div>
</body>
</html>