<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/articles.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Health</title>
</head>
<body>
    {% include 'includes/navigation.html' %} 
    <div class="container stack-large">        
        <div class="jumbotron stack-small">
            <h1 class="jumbotron-title">Blog</h1>
            <p class="jumbotron-subtitle">Read what we found during our camps, health service articles, and reports from other live events we visited.</p>
        </div>

        <div class="article-list">
            {% for article in articles %}
            <div class="article">
                <div class="article-date">
                    {{ article.created_at|date:"m" }} &#8226; {{ article.created_at|date:"Y" }}
                </div>
                <div class="article-title">
                    <a class="link black" href="{% url 'article-detail' slug=article.slug %}">{{ article.title|truncatewords:40 }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
