<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/articles.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Health</title>
</head>
<body>
    <div class="container">        
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <h1 class="pagetitle">Blog</h1>
                <p class="pagesubtitle">Browse articles on various topics from our platform.</p>
                <!-- Manager actions -->
                {% if can_manage %}
                <p>
                    <a href="{% url 'article-create' %}" class="button go">Create Article</a>
                </p>
                {% endif %}
            </div>     

            <div class="pagesection">
                <ul class="article-list">
                    {% for article in articles %}
                        {% include "articles/_article_item_snippet.html" %}
                    {% empty %}
                    <li class="article-item">
                    No blogs here yet.
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>