<p class="filterstitle"><strong>Filters</strong></p>
<div class="filters">
    <form method="GET" class="filterform">
        <div class="filtercategories">
            {% if can_manage %}
                <div class="filtersection">
                    <p class="categorylabel">Post Visibility</p>
                    <ul class="filterlist">
                        <li class="filteritem">
                            <input type="radio" name="post_visibility" value="all" id="post-visibility-all"
                            {% if request.GET.post_visibility == 'all' %} checked{% endif %}>
                            <label for="post-visibility-all">All</label>
                        </li>
                        <li class="filteritem">
                            <input type="radio" name="post_visibility" value="published" id="post-visibility-published"
                            {% if request.GET.post_visibility == 'published' %} checked{% endif %}>
                            <label for="post-visibility-published">Published</label>
                        </li>
                        <li class="filteritem">
                            <input type="radio" name="post_visibility" value="draft" id="post-visibility-draft"
                            {% if request.GET.post_visibility == 'draft' %} checked{% endif %}>
                            <label for="post-visibility-draft">Draft</label>
                        </li>
                    </ul>
                </div> 
            {% endif %}
            <div class="filtersection">
                <p class="categorylabel">Post Status</p>
                <ul class="filterlist">
                    <li class="filteritem">
                        <input type="radio" name="post_status" value="all" id="post-status-all"
                        {% if request.GET.post_status == 'all' %} checked{% endif %}>
                        <label for="post-status-all">All</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="post_status" value="featured" id="post-status-featured"
                        {% if request.GET.post_status == 'featured' %} checked{% endif %}>
                        <label for="post-status-featured">Featured</label>
                    </li>
                </ul>
            </div>
            <div class="filtersection">
                <p class="categorylabel">Post Focus</p>
                <ul class="filterlist">
                    <li class="filteritem">
                        <input type="radio" name="post_focus" value="all" id="post-focus-all"
                        {% if request.GET.post_focus == 'all' %} checked{% endif %}>
                        <label for="post-focus-all">All</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="post_focus" value="speed" id="post-focus-speed"
                        {% if request.GET.post_focus == 'speed' %} checked{% endif %}>
                        <label for="post-focus-speed">Speed</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="post_focus" value="strength" id="post-focus-strength"
                        {% if request.GET.post_focus == 'strength' %} checked{% endif %}>
                        <label for="post-focus-strength">Strength</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="post_focus" value="power" id="post-focus-power"
                        {% if request.GET.post_focus == 'power' %} checked{% endif %}>
                        <label for="post-focus-power">Power</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="post_focus" value="mobility" id="post-focus-mobility"
                        {% if request.GET.post_focus == 'mobility' %} checked{% endif %}>
                        <label for="post-focus-mobility">Mobility</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="post_focus" value="nutrition" id="post-focus-nutrition"
                        {% if request.GET.post_focus == 'nutrition' %} checked{% endif %}>
                        <label for="post-focus-nutrition">Nutrition</label>
                    </li>
                </ul>
            </div>
            <div class="filtersection">
                <button type="submit" class="button primary">Apply</button>
                <a class="button danger" href=".">Clear</a>
            </div>
        </div>
    </form>
</div>