.profile-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.profile-image {
    max-width: 164px;
}

.profile-image img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.username {
    font-size: 1.5rem;
}

.fullname {
    color: gray;
    font-size: .8rem;
}

.health-profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.card {
    flex: 1 1 20%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.card .value {
    font-size: 2em;
    margin-bottom: 10px;
}

.card .label {
    border-top: 1px solid black;
    font-size: 1em;
    color: #555;
    font-weight: bold;
}

@media (max-width: 680px) {
    .profile-wrapper {
        flex-direction: column;
    }
    
    .profile-info {
        order: -1;
    }
}