.welcome-banner {
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.welcome-statement {
    font-size: 2rem;
    font-weight: bold;
}

.dashwrapper {
    border-top: 1px solid gray;
}

.dashlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dashlist-link {
    display: flex;
    padding: .25rem 0 .25rem 1rem;
    color: black;
    border-bottom: 1px solid gray;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-size: 2rem;
}

.dashlist-link:hover {
    background: black;
    color: white;
}

.link-logo {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.link-logo.yellow {
    background-color: #fed22f;
    color: black;
}

.link-logo.green {
    background-color: #56dc53;
    color: black;
}

.link-logo.orange {
    background-color: #fb6700;
    color: black;
}

.link-logo.blue {
    background-color: #1b6de7;
    color: black;
}