@import url("https://use.typekit.net/wme5som.css");

.event {
    margin-bottom: 1.5rem;
}

.eventfeatured {
    font-family: aileron, Arial;
    font-size: .8rem;
    font-weight: 800;
    color: darkblue;
    font-style: italic;
    animation: blink 1s infinite alternate;
    padding-bottom: .5rem;
}

.eventname {
    font-family: aileron, Arial;
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: .25rem;
    border-bottom: 4px solid black;
    line-height: 1.4rem;
}

.eventname a {
    color: black;
    text-decoration: none;
    display: block;
}

.eventname a:hover {
    background: darkred;
    color: white;
}

.eventdate {
    padding-top: .25rem;
    display: flex;
    font-size: .8rem;
    color: gray;
    margin-bottom: .5rem;
}

.eventtype {
    margin-top: .75rem;
}

.eventtag {
    font-size: .9rem;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    padding: .15rem .45rem;
    text-decoration: none;
}

.register_and_price {
    display: flex;
    justify-content: space-between;
}

.eventregister {
    font-size: .9rem;
    font-family: aileron, Arial;
    font-weight: 300;
    margin: 0;
}

.eventcost {
    font-size: .9rem;
    font-family: aileron, Arial;
    font-weight: 300;
    margin: 0;
}


/* event preview styles */

.eventpreview {
    border-bottom: 4px solid black;
    padding-bottom: .25rem;
    margin-bottom: .5rem;
}
.eventpreview .eventname {
    padding: 0;
    font-size: 1rem;
    border: none;
}

.eventpreview .eventfeatured {
    padding: 0;
}

.eventpreview .eventdate {
    padding: 0;
    margin: 0;
}

.eventpreview .featured-and-date {
    gap: .5rem;
    display: flex;
    align-items: center;
}