.detailregister {
    margin-top: 1rem;
}

.eventroles {
    margin: 2rem 0;
}

.roletitle {
    font-weight: bold;
}

.rolebuttons {
    padding: 0;
}

.eventdesc h1, h2, h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-family: aileron, Arial;
    font-weight: 800;
    font-style: italic;
    color: darkred;
}

figure .image {
    max-width: 100%;
    margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}