<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/quickview.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/profile.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        {% include 'includes/notifications.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <div class="profile-wrapper">
                    <div class="profile-image">
                        <img src="https://place-hold.it/164x164" alt="profile_image" />
                    </div>
                    <div class="profile-info">
                        <div class="username">{{ user.username }}</div>
                        <div class="fullname">
                            <span>{{ user.first_name }} {{ user.last_name }}</span>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="pagesection">
                <h3 class="sectiontitle">Quickview</h3>
                <div class="metrics-container">
                    <ul class="metrics-list">
                        <li class="metrics-item">
                            <div class="metric-value">{{ total_users }}</div>
                            <div class="metric-label"><a class="metric-link" href="{% url 'member-list' %}">Members</a></div>
                        </li>
                        <li class="metrics-item">
                            <div class="metric-value">{{ total_events }}</div>
                            <div class="metric-label"><a class="metric-link" href="{% url 'event-list' %}">Events</a></div>
                        </li>
                        <li class="metrics-item">
                            <div class="metric-value">{{ total_articles }}</div>
                            <div class="metric-label"><a class="metric-link" href="{% url 'blog-home' %}">Articles</a></div>
                        </li>
                        <!-- <li class="metrics-item">
                            <div class="metric-value">{{ total_health_clients }}</div>
                            <div class="metric-label"><a class="metric-link" href="{% url 'member-list' %}">Health Clients</a></div>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="pagesection">
                <h3 class="sectiontitle">Admin Benefits</h3>
                <p>You can select any of the metrics above to view their source.</p>
                <p>If you have the required role, you will see buttons for:</p>
                <ul>
                    <li>Creating objects</li>
                    <li>Viewing objects</li>
                    <li>Editing objects</li>
                    <li>Deleting objects</li>
                    <li>Quick actions on objects</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>