<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/profile.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Dashboard</title>
</head>
<body>
    {% include 'includes/navigation.html' %} 
    <div class="container stack-large">
        <div class="flexbox">
            <div class="column">
                <div class="profile-wrapper stack-small">
                    <div class="user-rank-role">
                        <div class="user-level">
                            {% if profile %}
                                Lvl. {{ profile.level }}
                            {% else %}
                                Lvl. None
                            {% endif %}
                        </div>
                        <div class="user-role">
                            {% if user.is_staff %}
                                staff
                            {% elif user.is_trainer %}
                                trainer
                            {% else %}
                                member
                            {% endif %}
                        </div>
                    </div>
                    <div class="avatar-wrapper">
                        <div class="user-avatar">
                            <img src="https://place-hold.it/500x500" />
                        </div>
                    </div>
                    <div class="username">@{{user.username }}</div>
                </div>
            </div>
            <div class="column">
                <div class="profile-metrics stack-small">
                    <div class="user-bio stack-small">
                        <div class="metrics-title">Biography</div>
                        <div class="bio-content">{{ user.bio }}</div>
                    </div>
                    <div class="user-metrics stack-small">
                        <div class="metrics-title">Ranking</div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stack-small">
            <div class="account-actions">
                <p>Account</p>
                <div class="action-links">
                    <a class="link red" href="#">set name</a>
                    <a class="link red" href="#">set bio</a>
                    <a class="link red" href="#">set profile</a>
                    <a class="link red" href="{% url 'member-logout' %}">logout</a>
                </div>
            </div>

            <div class="member-actions">
                <p>Members</p>
                <div class="action-links">
                    <a class="link red" href="#">see all</a>
                    <a class="link red" href="#">gen report</a>
                </div>
            </div>
        </div>        
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>