{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
<link href="{% static 'members/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<!-- Dashboard -->
<div id="dashboard-section" class="section">
    <div class="container">
        <div class="section-header align-left">
            <div class="section-title">Dashboard</div>
            <div class="section-subtitle">Welcome back, {{ user.username }}!</div>
        </div>

        <!-- Dashboard Widgets -->
        <div class="dashboard-widgets">
            <div class="widget">
                <h3>Events</h3>
                <p>View and manage upcoming events.</p>
                <a href="#" class="btn btn-primary">View Events</a>
            </div>
            <div class="widget">
                <h3>Event Submissions</h3>
                <p>Review and manage event submissions.</p>
                <a href="{% url 'list_submissions' %}" class="btn btn-primary">View Submissions</a>
            </div>
            <div class="widget">
                <h3>Health Plans</h3>
                <p>Create a new fitness plan for health.</p>
                <a href="#" class="btn btn-primary">Create Plan</a>
            </div>
            <div class="widget">
                <h3>Training Requests</h3>
                <p>Handle training requests and inquiries.</p>
                <a href="#" class="btn btn-primary">View Requests</a>
            </div>
            <div class="widget">
                <h3>Tour Inquiries</h3>
                <p>Handle tour inquiries & quotes.</p>
                <a href="#" class="btn btn-primary">View Inquiries</a>
            </div>
            <div class="widget">
                <h3>Account</h3>
                <p>View and update account information.</p>
                <a href="#" class="btn btn-primary">Settings</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}