<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/filters.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/member-list.css' %}">
    <script src="{% static 'core/js/member-list.js' %}" defer></script>
    <script src="{% static 'core/js/counter.js' %}" defer></script>

    <title>Members</title>
</head>

<body>
    {% include 'includes/navigation.html' %}
    <div class="container stack-large">
        <div class="jumbotron stack-small">
            <h1 class="jumbotron-title">Members</h1>
            <p class="jumbotron-subtitle">We love our rugby community.</p>
        </div>

            <div class="fame-wall stack-small">
                <div class="section-header border">
                    <p><i class="fa-solid fa-eye"></i> <span id="live-views">0</span> views today</p>
                    <h4>Fines Wall</h4>
                    <p>Order in the court! Fines are in session. <a class="link red" href="#">Only $0.99</a></p>
                </div>
                <div>
                    <div class="marquee">
                        <div class="messages">
                            <div class="message">
                                <div class="source"><a href="">@Mark_76</a></div>
                                <div class="content">For missing the game winning drop goal.</div>
                            </div>
                            <div class="message">
                                <div class="source"><a href="">@Eli_prop3</a></div>
                                <div class="content">For cheering everyone up and keeping the team’s spirits high.</div>
                            </div>
                            <div class="message">
                                <div class="source"><a href="">@JustinJuice</a></div>
                                <div class="content">For scoring 0 points all season.</div>
                            </div>
                            <div class="message">
                                <div class="source"><a href="">@RachelPoach</a></div>
                                <div class="content">For missing the bus :(</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="members">
                <div class="section-header border">
                    <h2>All Members [{{ members|length }}]</h2>
                </div>

                <form class="filter-wrapper stack-small" method="GET" action="{% url 'member-list' %}">
                    <div class="search-filter">
                        <div class="filter-title">
                            Search
                        </div>
                        <input type="text" name="search" value="{{ request.GET.search }}">
                    </div>
                    <div class="type-filter">
                        <div class="filter-title">
                            Sort by type
                        </div>
                        <ul class="radio-list">
                            <li class="filter-item">
                                <label>
                                    <input type="radio" name="type" value="all" {% if request.GET.type == 'all' %}checked{% endif %}>
                                    All
                                </label>
                            </li>
                            <li class="filter-item">
                                <label>
                                    <input type="radio" name="type" value="trainer" {% if request.GET.type == 'trainer' %}checked{% endif %}>
                                    Trainers
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-buttons">
                        <button type="submit">Apply</button>
                        <button type="button" onclick="window.location.href='{% url 'member-list' %}'">Clear</button>
                    </div>
                </form>

                <div class="member-list">
                    {% for member in members %}
                    <div class="member-item">
                        <div class="member-avatar">
                            {% if member.avatar %}
                                <a class="member-link" href="{% url 'member-profile' username=member.username %}"><img src="{{ member.avatar.url }}" /></a>
                            {% else %}
                                <a class="member-link" href="{% url 'member-profile' username=member.username %}"><img src="https://www.place-hold.it/100x100" /></a>
                            {% endif %}
                        </div>
                        <div class="member-username">
                            {{ member.username|truncatechars:15 }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
</body>

</html>