<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Player Dashboard</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        {% include 'includes/notifications.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <div class="brandwrapper">
                    <h1 class="pagetitle">{{ user.username }}</h1>
                    <p class="pagesubtitle align-center">{{ user.email }}</p>
                    <p class="pagesubtitle">Lvl. 0</p>
                </div>
            </div>
            
            <!-- If player profile exists -->
            {% if player_profile %}
                {% include 'members/_player_profile_snippet.html' %}
            {% endif %}
            
            <!-- If health profile exists -->
            {% if health_profile %}
                {% include 'members/_health_profile_snippet.html' %}      
            {% endif %}
        </div>
    </div>
</body>
</html>