<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Profile</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        {% include 'includes/notifications.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <div class="brandwrapper">
                    <h1 class="pagetitle">{{ profile.username }}</h1>
                    <p class="pagesubtitle align-center">{{ profile.email }}</p>
                    <p class="pagesubtitle">Lvl. 0</p>
                </div>
            </div>

            {% if has_trainer %}
            <div class="pagesection">
                <h3 class="sectiontitle">Trainer Actions</h3>
                <p>
                    <a href="{% url 'client-add' trainer_username=request.user.username client_username=profile.username %}" class="button go">Add as Client</a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>