<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <script src="{% static 'core/js/base.js' %}" defer></script>
    <title>Profile</title>
</head>
<body>
    {% include 'includes/navigation.html' %}
    <div class="container stack-large">
        <div class="profile-wrapper">
            {% if profile.avatar %}
                <div class="avatar"><a href="{{profile.avatar.url}}"><img src="{{ profile.avatar.url }}"></a></div>
            {% else %}
                <div class="avatar"><a href="https://place-hold.it/150x150"><img src="https://place-hold.it/150x150"></a></div>
            {% endif %}
            <div class="metadata">
                <div class="username">{{ profile.username }}</div>
                <div class="fullname">{{profile.first_name}} {{profile.last_name}}</div>
                <div class="bio">{{ profile.bio }}</div>

                <div class="profile-actions">
                    {% if profile.is_trainer %}
                    <div class="action">
                        <a class="link button" href="{% url 'request-trainer-session' trainer_id=profile.id %}">Request Trainer</a>
                    </div>
                    {% endif %}
                    <div class="action">
                        <a class="link button" onclick="copyToClipboard()"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>