<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'members/css/trainer.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>Trainer Dashboard</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        {% include 'includes/notifications.html' %} 
        <div class="pagecontent">
            <div class="welcome-banner">
                <div class="welcome-statement">
                    Welcome, <br /> <span class="welcome-username">{{ user.username }}</span>
                </div>
            </div>
            <div class="dashwrapper">
                <ul class="dashlist">
                    <li class="dashlist-item">
                        <a class="dashlist-link" href="{% url 'client-list' %}">
                            <div class="link-logo yellow">C</div>
                            <span class="link-label">Clients</span>
                        </a>
                    </li>
                    <li class="dashlist-item">
                        <a class="dashlist-link" href="#">
                            <div class="link-logo green">R</div>
                            <span class="link-label">Requests</span>
                        </a>
                    </li>
                    <li class="dashlist-item">
                        <a class="dashlist-link" href="{% url 'blog-home' %}">
                        <div class="link-logo orange">A</div>
                            <span class="link-label">Articles</span>
                        </a>
                    </li>
                    <li class="dashlist-item">
                        <a class="dashlist-link" href="{% url 'plan-list' %}">
                            <div class="link-logo blue">P</div>
                            <span class="link-label">Plans</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- <div class="pageheader">
                <div class="profile-wrapper">
                    <div class="profile-image">
                        <img src="https://place-hold.it/164x164" alt="profile_image" />
                    </div>
                    <div class="profile-info">
                        <div class="username">{{ user.username }}</div>
                        <div class="fullname">
                            <span>{{ user.first_name }} {{ user.last_name }}</span>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</body>
</html>