{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
<link href="{% static 'members/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<!-- Dashboard -->
<div id="dashboard-section" class="section">
    <div class="container">
        <div class="section-header align-left">
            <div class="section-title">Dashboard</div>
            <div class="section-subtitle">Welcome back, {{ user.username }}!</div>
        </div>

        <!-- Dashboard Widgets -->
        <div class="dashboard-widgets">
            <div class="widget">
                <h3>My Events</h3>
                <p>See the status of your events.</p>
                <a href="#" class="btn btn-primary">View events</a>
            </div>
            <div class="widget">
                <h3>My Health</h3>
                <p>See the status of your training requests.</p>
                <a href="#" class="btn btn-primary">View requests</a>
            </div>
            <div class="widget">
                <h3>Account</h3>
                <p>View and update account information.</p>
                <a href="#" class="btn btn-primary">Settings</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}