<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/forms.css' %}">

    <title>RSVP for Event</title>
</head>

<body>
    {% include 'includes/navigation.html' %}
    <div class="container stack-large">
        <div class="form-wrapper">
            <div class="text-wrapper">
                <h2>RSVP to {{event.name}}</h2>
                <p class="pagesubtitle">Fill out the form below to register for this event.</p>
                {% if event.payment_required %}
                    <p>{{ role.name }} for ${{ role.cost }}</p>
                {% endif  %}
            </div>

            <form method="post" class="form-fields stack-small">
                {% csrf_token %}
                {{ form }}
                {{ form.media }}

                <div class="form-submit">
                    {% if event.payment_required %}
                        <button class="button" type="submit">Continue to Payment</button>
                    {% else %}
                        <button class="button" type="submit">Submit</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</body>

</html>