<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/filters.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rsvps/base.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>RSVPs</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <h1 class="pagetitle">Responses for {{ event.name }}</h1>
                <p class="pagesubtitle">These are all the responses for this event.</p>
            </div> 

            {% include 'rsvps/_filters_snippet.html' %}

            <div class="pagesection">
                <h3 class="sectiontitle">Responses [{{ rsvps|length }}]</h3>
                {% for rsvp in rsvps %}
                    <div class="rsvp">
                        {% if rsvp.has_paid %}
                            <div class="rsvppaid">PAID</div>
                        {% else %}
                            <div class="rsvpnotpaid">NOT PAID</div>
                        {% endif %}
                        <h3 class="rsvpname"><a href="{% url 'rsvp-detail' event_slug=event.slug rsvp_slug=rsvp.slug %}"><span>&#10035;</span> {{ rsvp.name }}</a></h3>
                        <div class="rsvpdate">Submitted {{rsvp.created_at}}</div>
                        <div class="rsvprole">As {{rsvp.role}}</div>
                    </div>
                {% empty %}
                    <p>No RSVPs found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>