<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="{% static 'core/js/base.js' %}" defer></script>

    <title>RSVP Status</title>
</head>
<body>
    <div class="container">
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                {% if can_manage %}
                <p>
                    <a href="{% url 'rsvp-update' event_slug=event.slug rsvp_slug=rsvp.slug %}" class="button disabled">Edit</a>
                    <a href="{% url 'rsvp-delete' event_slug=event.slug rsvp_slug=rsvp.slug %}" class="button danger">Delete</a>
                </p>
                {% endif %}
                <h1 class="pagetitle">RSVP Status</h1>
                <p class="pagesubtitle">If there are any issues please reach out to customer support.</p>
            </div>

            <div class="pagesection">
                <h3 class="sectiontitle">User Details</h3>
                <ul>
                    <li>Name: {{ rsvp.name }}</li>
                    <li>Email: {{ rsvp.email }}</li>
                    <li>Phone: {{ rsvp.phone_number }}</li>
                    {% if rsvp.role %}
                    <li>Role: {{ rsvp.role.name }}</li>
                    {% else %}
                    <li>No Role / No Payment.</li>
                    {% endif %}
                </ul>
            </div>

            <div class="pagesection">
                <h3 class="sectiontitle">Payment Status</h3>
                <p>Sometimes the payment takes a few days to go through.</p>
                <ul>
                    {% if rsvp.has_paid and event.payment_required %}
                    <li>Status: PAID</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>