<p class="filterstitle"><strong>Filters</strong></p>
<div class="filters">
    <form method="GET" class="filterform">
        <div class="filtercategories">
            <div class="filtersection">
                <p class="categorylabel">Plan Status</p>
                <ul class="filterlist">
                    <li class="filteritem">
                        <input type="radio" name="plan_status" value="all" id="plan-status-all"
                        {% if request.GET.plan_status == 'all' %} checked{% endif %}>
                        <label for="plan-status-all">All</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="plan_status" value="new" id="plan-status-new"
                        {% if request.GET.plan_status == 'new' %} checked{% endif %}>
                        <label for="plan-status-new">New</label>
                    </li>
                </ul>
            </div>
            <div class="filtersection">
                <p class="categorylabel">Plan Type</p>
                <ul class="filterlist">
                    <li class="filteritem">
                        <input type="radio" name="plan_type" value="physical" id="plan-type-physical"
                        {% if request.GET.plan_type == 'physical' %} checked{% endif %}>
                        <label for="plan-type-physical">Physical</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="plan_type" value="nutritional" id="plan-type-nutritional"
                        {% if request.GET.plan_type == 'nutritional' %} checked{% endif %}>
                        <label for="plan-type-nutritional">Nutritional</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="plan_type" value="mental" id="plan-type-mental"
                        {% if request.GET.plan_type == 'mental' %} checked{% endif %}>
                        <label for="plan-type-mental">Mental</label>
                    </li>
                </ul>
            </div>
            <div class="filtersection">
                <p class="categorylabel">Plan Focus</p>
                <ul class="filterlist">
                    <li class="filteritem">
                        <input type="radio" name="plan_focus" value="speed" id="plan-focus-speed"
                        {% if request.GET.plan_focus == 'speed' %} checked{% endif %}>
                        <label for="plan-focus-speed">Speed</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="plan_focus" value="strength" id="plan-focus-strength"
                        {% if request.GET.plan_focus == 'strength' %} checked{% endif %}>
                        <label for="plan-focus-strength">Strength</label>
                    </li>
                    <li class="filteritem">
                        <input type="radio" name="plan_focus" value="power" id="plan-focus-power"
                        {% if request.GET.plan_focus == 'power' %} checked{% endif %}>
                        <label for="plan-focus-power">Power</label>
                    </li>
                </ul>
            </div>
            <div class="filtersection">
                <button type="submit" class="button primary">Apply</button>
                <a class="button danger" href=".">Clear</a>
            </div>
        </div>
    </form>
</div>