<li class="plan stack-small">
    <a href="{% url 'plan-detail' slug=plan.slug %}">
        <div class="plan-cover">
            <img src="{{ plan.featured_image.url }}" />
        </div>
    </a>
    <div class="plan-meta">
        <div class="plan-title">
            <a class="link black" href="{% url 'plan-detail' slug=plan.slug %}">{{ plan.title}}</a>
        </div>
        <div class="plan-views">
            {{ plan.views }} <i class="fa-solid fa-eye"></i>
        </div>
        <div class="plan-category">
            {{ plan.get_type_display }}
        </div>
        <div class="plan-author">
            {{ plan.author }}
        </div>
    </div>
</li>