{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Market
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<!-- Product list -->
<div id="product-list" class="section">
    <div class="container">
        <div class="section-header">
            <div class="section-title">Open Market</div>
            <div class="section-subtitle">Cool rugby jerseys and seasonal collections.</div>
        </div>
    </div>
</div>
{% endblock %}