.post-list {
    padding: 0;
    margin: 2rem 0 0 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.post-link {
   color: black;
   font-size: .8rem; 
}

.post-image {
    width: 170px;
    height: 266px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 0 0 .5rem 0;
}

.postfeatured {
    font-family: aileron, Arial;
    font-size: .8rem;
    font-weight: 800;
    color: darkblue;
    font-style: italic;
    animation: blink 1s infinite alternate;
    padding-bottom: .5rem;
}

@keyframes blink {
    0% { color: darkblue; } /* Start with darkred */
    50% { color: darkgoldenrod; } /* Blink to yellow at 50% */
    100% { color: darkblue; } /* Back to darkred at 100% */
}