{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Contact Success
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<!-- Contact success -->
<div id="submit-event-section" class="section">
    <div class="container">
        <div class="section-header">
            <div class="section-title">Message sent!</div>
            <div class="section-subtitle">Support will contact you within 2-3 business days.</div>
            <p><a href="{% url 'index' %}">Back to Home</a></p>
        </div>
    </div>
</div>
{% endblock %}