<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'events/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'health/posts/base.css' %}">
    <script src="{% static 'core/js/nav.js' %}" defer></script>

    <title>F5</title>
</head>
<body>
    <div class="container">
        {% include 'includes/notifications.html' %} 
        {% include 'includes/navigation.html' %} 
        <div class="pagecontent">
            <div class="pageheader">
                <div class="brandwrapper">
                    <img class="weblogo" src="{% static 'core/images/f5logo.png' %}" alt="first five rugby" />
                    <!-- <h1 class="pagetitle">First Five Rugby</h1> -->
                    <p class="pagesubtitle align-center">The premier destination to grow the game.</p>
                </div>
            </div>

            <div class="pagesection">
                <div class="splitshot">
                    <h2 class="sectiontitle">Featured Events</h2>
                    <div><a class="link primary" href="/events">View All</a></div>
                </div>
                <p class="sectionsubtitle">Explore community rugby events like camps, tournaments, and games!</p>
                {% for event in events %}
                    {% include 'events/_event_preview_snippet.html' %}
                {% empty %}
                    <p>No featured events.</p>
                {% endfor %}
            </div>

            <div class="pagesection">
                <div class="splitshot">
                    <h2 class="sectiontitle">Featured Health Posts</h2>
                    <div><a class="link primary" href="/health">View All</a></div>
                </div>
                <p class="sectionsubtitle">Free posts for speed, power, strength, mobility, and nutrition.</p>
                <ul class="post-list">
                    {% for post in posts %}
                        {% include 'posts/_post_snippet.html' %}
                    {% empty %}
                        <li class="no-posts-found">
                            <p>No posts found.</p>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
            </div>

            <div class="pagesection">
                <h2 class="sectiontitle">About Us</h2>
                <p class="sectiontext">Our <strong>mission</strong> is to promote and grow the game of rugby by providing accessible resources, organizing community events, and fostering a supportive environment for players of all levels.</p>
                <p class="sectiontext">Our <strong>vision</strong> is to become the leading platform for rugby enthusiasts, offering comprehensive services with continuous innovation to meet the evolving needs of the rugby community.</p>
            </div>


            <div class="pagesection">
                <h3 class="sectiontitle">Key Initiatives</h3>
                <ul class="generallist">
                    <li><strong>Events / Camps:</strong> General events, rugby camps, and featured events.</li>
                    <li><strong>Blog and News:</strong> Coverage of explorative topics, unnoticed news, and interesting rugby developments.</li>
                    <li><strong>Health Plans and Sessions:</strong> Free resources for all levels of the game, public plans, and tailored sessions with experts.</li>
                    <li><strong>Team Tour Service:</strong> All-inclusive rugby tours with activities, exclusive tours, history lessons, and accommodations.</li>
                    <li><strong>Custom Kit Service:</strong> Custom branded rugby kits with free design, simple process, and prompt delivery.</li>
                </ul>
            </div>

            <div class="pagesection">
                <h3 class="sectiontitle">Conclusion</h3>
                <p class="sectiontext">We aim to provide the highest quality in all our services, from accurate news to high-quality kits. Our goal is to grow positively and be the best in everything we do.</p>
            </div>
        </div>
    </div>
</body>
</html>