{% extends 'core/base.html' %}
{% load static %}

{% block title %}
F5 Rugby
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
<link href="{% static 'core/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="jumbo-pretext">First Five Rugby</div>
    <div class="jumbo-title">Modern Resources <br> for Modern Rugby.</div>
    <div class="jumbo-posttext">Built for people like you.</div>
    <div class="jumbo-button-group">
        <a class="jumbo-button" href="https://forms.gle/zNw4kZCZtEpzAn429">Take survey</a>
        <a class="jumbo-button white" href="#">Learn more</a>
    </div>
</div>
{% endblock %}