{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Legal
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<!-- Legal section -->
<div id="legal-section" class="section">
    <div class="container">
        <div class="section-header">
            <h1 class="section-title">Legal Information</h1>
            <p><strong>Effective Date:</strong> September 17, 2024</p>
            <p><strong>Last Updated:</strong> September 17, 2024</p>
        </div>
        <div class="section-body">
            <h2>1. Introduction</h2>
            <p>Welcome to <a href="https://f5rugby.com">f5rugby.com</a>, operated by First Five Rugby LLC. This Legal
                document outlines the terms and conditions governing the use of our website and services. By accessing
                or using our website, you agree to comply with and be bound by the terms outlined in this document. If
                you do not agree with any part of these terms, you must not use our website.</p>

            <h2>2. Intellectual Property</h2>
            <p>All content and materials on our website, including but not limited to text, images, logos, graphics, and
                software, are the intellectual property of First Five Rugby LLC or its licensors and are protected by
                copyright, trademark, and other intellectual property laws. You may not use, reproduce, or distribute
                any content from our website without our express written permission.</p>

            <h2>3. User Responsibilities</h2>
            <p>Users of our website are responsible for maintaining the confidentiality of their account information and
                for all activities that occur under their account. You agree to use our website only for lawful purposes
                and in accordance with our terms and policies. You must not engage in any activity that could damage,
                disable, overburden, or impair our website or interfere with other users' enjoyment of the site.</p>

            <h2>4. Limitation of Liability</h2>
            <p>To the fullest extent permitted by law, First Five Rugby LLC shall not be liable for any direct,
                indirect, incidental, consequential, or punitive damages arising from or related to your use of our
                website or services. This includes, but is not limited to, damages for loss of profits, goodwill, use,
                data, or other intangible losses, even if we have been advised of the possibility of such damages.</p>

            <h2>5. Dispute Resolution</h2>
            <p>Any disputes arising out of or related to these terms or your use of our website will be resolved through
                binding arbitration in accordance with the rules of the American Arbitration Association. The
                arbitration will be conducted in The United States of America, and judgment on the arbitration award may be
                entered in any court having jurisdiction. You agree to waive any right to a jury trial or class action
                in any dispute with us.</p>

            <h2>6. Changes to Terms</h2>
            <p>We reserve the right to modify or update these terms at any time without prior notice. It is your
                responsibility to review these terms periodically for any changes. Your continued use of our website
                following any modifications constitutes your acceptance of the revised terms.</p>

            <h2>7. Governing Law</h2>
            <p>These terms and your use of our website will be governed by and construed in accordance with the laws of
                The United States of America, without regard to its conflict of law principles.</p>

            <h2>8. Contact Information</h2>
            <p>If you have any questions or concerns regarding these legal terms, please contact us at <a
                    href="mailto:support@f5rugby.com">support@f5rugby.com</a>. We are committed to addressing your
                inquiries and ensuring your understanding of our policies.</p>

            <h2>9. Additional Policies</h2>
            <p>For additional information regarding our Privacy Policy, Terms of Use, and Sales and Refunds policies,
                please refer to the respective pages on our website.</p>
        </div>
    </div>
</div>
{% endblock %}