{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Sales and Refunds
{% endblock %}

{% block custom_css %}
<!-- Include any specific CSS files needed for this page -->
{% endblock %}

{% block custom_js %}
<!-- Include any specific JavaScript files needed for this page -->
{% endblock %}

{% block content %}
<!-- Sales and Refunds section -->
<div id="sales-and-refunds-section" class="section">
    <div class="container">
        <div class="section-header">
            <h1 class="section-title">Sales and Refunds Policy</h1>
            <p><strong>Effective Date:</strong> September 17, 2024</p>
            <p><strong>Last Updated:</strong> September 17, 2024</p>
        </div>
        <div class="section-body">
            <h2>1. Sales Policy</h2>
            <p>All transactions conducted through our website, <a href="https://f5rugby.com">f5rugby.com</a>, are final.
                We do not offer refunds for any products purchased. It is the responsibility of the customer to
                thoroughly review product details and ensure that the product meets their requirements before making a
                purchase.</p>
            <p>Our sales process involves direct communication. Customers interested in purchasing products should
                contact us via the reserve link provided under each product in our online store. We will process each
                order individually, ensuring accurate handling and delivery. Should there be any changes to this process
                in the future, including modifications to how sales are managed or processed, we will update this Sales
                and Refunds Policy accordingly.</p>

            <h2>2. Services</h2>

            <h3>2.1 Trainer Services</h3>
            <p>Our trainer services involve arranging meetings between individuals and qualified trainers. To initiate a
                meeting, individuals must contact us directly. Payment is made to us upon scheduling, and we then
                forward the payment to the respective trainer. All sales for trainer services are final. Refunds for
                trainer services are handled on an individual basis, and any requests for refunds must be submitted in
                writing and will be reviewed on a case-by-case basis.</p>

            <h3>2.2 Event Listings</h3>
            <p>For event promotion on our platform, clubs or individuals may pay us to feature their events. For paid
                events, attendees will pay us directly, and we will route the funds to the event organizers. All sales
                related to event listings are final. Refunds for event-related payments are processed on an individual
                basis, and any refund requests must be made in writing and will be assessed individually.</p>

            <h3>2.3 Player Recruitment</h3>
            <p>We provide a recruitment service where players can pay us to host and market their profiles to colleges
                and universities. Educational institutions pay us to access and review these profiles. All transactions
                related to player recruitment are final. Refunds are considered on a case-by-case basis, and refund
                requests must be submitted in writing. Each request will be reviewed individually to determine its
                validity.</p>

            <h2>3. Legal Disclaimers</h2>
            <p>By using our website and services, you acknowledge and agree that all sales are final and that refunds,
                if applicable, will be processed on an individual basis. We reserve the right to modify or update this
                policy at any time without prior notice. It is your responsibility to review this policy periodically
                for any changes. Your continued use of our website and services constitutes your acceptance of any
                modifications to this policy.</p>

            <h2>4. Contact Us</h2>
            <p>If you have any questions or concerns regarding our products, services, or the Sales and Refunds Policy,
                please contact us at <a href="mailto:support@f5rugby.com">support@f5rugby.com</a>. We are committed to
                providing you with prompt and effective assistance to address any inquiries or issues you may have.</p>
        </div>
    </div>
</div>
{% endblock %}