<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <script src="{% static 'core/js/base.js' %}" defer></script>

    <title>Rugby Tours</title>
</head>

<body>
    {% include 'includes/navigation.html' %}
    <div class="container stack-large">
        <div class="jumbotron stack-small">
            <h1 class="jumbotron-title">Ireland tours at<br />an incredible<br />price.</h1>
            <p class="jumbotron-subtitle">Our tours offer an unparalleled combination of advanced rugby training, rich
                cultural experiences, and team-building adventures, ensuring an unforgettable journey for every
                participant.</p>
        </div>

        <div class="featured stack-small">
            <div class="section-header border">
                <h2>Featured tour</h2>
            </div>
            <div class="flexbox">
                <div class="column">
                    <span class="title">Ireland 23'</span>
                </div>
                <div class="column">
                    <div class="stack-small">
                        <p><span class="highlight">Strong Lad Rugby Tours</span>, our partners, have been organizing
                            exceptional Ireland tours
                            for schools since <span class="highlight">2010</span>. They have built long lasting
                            connections that allow them to provide the best Irish rugby tour experience for teams.</p>

                        <a class="link black" href="">View album</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="section-image">
                    <img id="featured-image" src="{% static 'core/images/bg/tours-bg2.jpg' %}" />
                    <p class="image-tagline">Sept 02, 2023; In Tours, France; The Ireland squad applaud 12,000 fans at the
                        open training session in Tours, France before the 2023 Rugby World Cup.<br />
                        <a class="link red" href="https://ppai.ie/photographer/dan-sheridan/">Credit: ©INPHO/Dan
                            Sheridan</a>
                        <a class="link black"
                            href="https://www.irishrugby.ie/">Source:
                            Irish Rugby</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- <div class="section stack-small">
            <div class="section-header">
                <h2>Services</h2>
            </div>
            <div class="section-wrapper flexbox gap">
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Training</span>
                        <p>We offer free gym and conditioning plans, and you can also book 1-on-1 sessions with our
                            certified trainers.</p>
                        <a class="section-link" href="{% url 'health-home' %}">Learn more</a>
                    </div>
                </div>
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Information</span>
                        <p>We host public events, camps, and clinics for players and coaches. Reports and updates are
                            posted in our blogs.</p>
                        <a class="section-link" href="{% url 'blog-home' %}">Learn more</a>
                    </div>
                </div>
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Recruiting</span>
                        <p>We provide player metrics and development data to USA RUGBY, MLR, and clubs to create
                            opportunities for players.</p>
                        <a class="section-link" href="{% url 'member-signup' %}">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="purpose stack-small">
            <div class="section-header border">
                <h2>Start with the players</h2>
            </div>
            <div class="flexbox">
                <div class="column">
                    <p>Our jobs start at the <span class="highlight">grassroot</span> levels because we know investing
                        early
                        allows players the greatest opportunity to succeed. Research shows that starting sports early
                        enhances skill development, physical fitness, and cognitive and social growth. By focusing on
                        young athletes, we help them build a strong foundation for future success.</p>
                </div>
            </div>
        </div>

        <div class="testimonials stack-small">
            <div class="section-header">
                <h2>Testimonials</h2>
            </div>
            <div class="section-wrapper flexbox gap">
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Ricky Slade</span>
                        <p>"I really enjoyed the dedicated staff, I've been looking for a system like this for a while
                            now."</p>
                    </div>
                </div>
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Coach Stephens</span>
                        <p>"First Five provided us with access to a database of rising players to help us recruit and
                            build a stronger team."</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    {% include 'includes/footer.html' %}
</body>

</html>