<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/tours.css' %}">
    <script src="{% static 'core/js/base.js' %}" defer></script>

    <title>Rugby Tours</title>
</head>

<body>
    {% include 'includes/navigation.html' %}
    <div class="container stack-large">
        <div class="jumbotron stack-small">
            <h1 class="jumbotron-title">Ireland tours at<br />an incredible<br />price.</h1>
            <p class="jumbotron-subtitle">Our tours offer an unparalleled combination of advanced rugby training, rich
                cultural experiences, and team-building adventures, ensuring an unforgettable journey for every
                participant.</p>
        </div>

        <div class="featured stack-small">
            <div class="section-header border">
                <h2>Overview</h2>
            </div>
            <div class="flexbox">
                <div class="column">
                    <div class="stronglad-wrapper">
                        <!-- <span class="title">Strong Lad Rugby Tours</span> -->
                        <div class="logo-wrapper">
                            <a href="https://drive.google.com/drive/folders/1cn6YG7BfXWZD7w7wvVDL3homqDFD_Kz4?usp=sharing"><img target="_blank" src="{% static 'core/images/tours/stronglad.jpg' %}" alt="strong lad rugby logo" /></a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="stack-small">
                        <p>Our partners, have been organizing exceptional Ireland tours
                            for schools since <span class="highlight">2010</span>. They have built long lasting
                            connections that allow them to provide the best Irish rugby tour experience for teams.</p>

                        <a class="link red" href="https://drive.google.com/drive/folders/1cn6YG7BfXWZD7w7wvVDL3homqDFD_Kz4?usp=sharing">View album here!</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="section-image">
                    <img id="featured-image" src="{% static 'core/images/tours/tours-france.jpg' %}"
                        alt="tours france welcomes irish rugby team before 2023 rugby world cup" />
                    <p class="image-tagline">Sept 02, 2023; In Tours, France; The Ireland squad applaud 12,000 fans at
                        the
                        open training session in Tours, France before the 2023 Rugby World Cup.<br />
                        <a class="link red" href="https://ppai.ie/photographer/dan-sheridan/">Credit: ©INPHO/Dan
                            Sheridan</a>
                        <a class="link black" href="https://www.irishrugby.ie/">Source:
                            Irish Rugby</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="section stack-small">
            <div class="section-header">
                <h2>What we offer</h2>
            </div>
            <div class="section-wrapper flexbox gap">
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Overnight stays in top student housing</span>
                        <p class="feature-subtitle">Stay in walkable town centers and explore Irish culture right
                            outside your
                            door.</p>
                        <div class="feature-image">
                            <img src="{% static 'core/images/tours/city.jpg' %}" alt="irish city">
                        </div>
                        <ul class="feature-list">
                            <li>Explore Western Ireland with <span class="highlight">Galway</span> and <span
                                    class="highlight">Connemara</span>.</li>
                            <li>Discover Southern Ireland with <span class="highlight">Cork</span> and <span
                                    class="highlight">Kilkenny</span>.</li>
                            <li>Adventure through Rugby rich <span class="highlight">Dublin</span>.</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Local insight</span>
                        <p class="feature-subtitle">Our bus drivers are all trained Irish History instructors.</p>
                        <div class="feature-image">
                            <img src="{% static 'core/images/tours/bus.jpg' %}" alt="Rugby players boarding tour bus">
                        </div>
                        <ul class="feature-list">
                            <li>All motor coaches are of the <span class="highlight">highest standard</span>.</li>
                            <li>We visit castles, museums, and include something <span
                                    class="highlight">educational</span> every day for school groups.</li>
                            <li>For rugby events, we get exclusive behind-the-scenes tours.</li>
                            <li>Featured fixtures have included <span class="highlight">Munster</span>, <span
                                    class="highlight">Connacht</span>, and <span class="highlight">Dublin
                                    Schools</span>.</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Discovering the past</span>
                        <p class="feature-subtitle">Tours include visits to the following landmarks with exclusive
                            access.</p>
                        <div class="feature-image">
                            <img src="{% static 'core/images/tours/castle.jpg' %}" alt="players at Irish castle ruins">
                        </div>
                        <ul class="feature-list">
                            <li>The Connemara region, including a walking tour through Medieval Galway and a visit to
                                Kylemore Abbey.</li>
                            <li>St John's Castle, guided tour of <span class="highlight">Blarney Castle &
                                    Gardens</span>, and a tour of University College Cork.</li>
                            <li>The Irish Museum of Natural History and the <span class="highlight">Cliffs of
                                    Moher</span>.</li>
                            <li>Aviva Stadium Tour.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="museum stack-small">
            <div class="section-header border">
                <h2>Rugby experience museum</h2>
            </div>
            <div class="flexbox">
                <div class="column">
                    <p>The Rugby Experience Museum is a unique and immersive attraction that brings the rich history and
                        vibrant culture of rugby to life. Nestled within the heart of Ireland, this museum offers an
                        unparalleled journey through the sport’s evolution, from its early beginnings to its current
                        global status.</p>
                </div>
            </div>
            <div class="content">
                <div class="section-image">
                    <img id="featured-image" src="{% static 'core/images/tours/museum.jpg' %}" />
                    <p class="image-tagline">Niall McLaughlin Architects' stunning design of the International Rugby
                        Experience in Limerick, Ireland, showcases modern architectural brilliance with a deep-rooted
                        connection to rugby heritage. <br />
                        <a class="link red" href="https://en.wikipedia.org/wiki/Niall_McLaughlin_Architects">Credit:
                            Niall McLaughlin
                        </a>
                        <a class="link black" href="https://www.dezeen.com/">Source:
                            Dezeen</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="contact stack-small">
            <div class="section-header border">
                <h2>Contact Us</h2>
            </div>
            <div class="content">
                <p>Questions, concerns, quotes? Send an email using the link below directly to Strong Lad Rugby.</p>
                <p><a class="link red" href="mailto:rugbyvarsity@gmail.com">Free Quote Now</a></p>
            </div>
        </div>

        <!-- <div class="testimonials stack-small">
            <div class="section-header">
                <h2>Testimonials</h2>
            </div>
            <div class="section-wrapper flexbox gap">
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Ricky Slade</span>
                        <p>"I really enjoyed the dedicated staff, I've been looking for a system like this for a while
                            now."</p>
                    </div>
                </div>
                <div class="column">
                    <div class="stack-small">
                        <span class="title">Coach Stephens</span>
                        <p>"First Five provided us with access to a database of rising players to help us recruit and
                            build a stronger team."</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    {% include 'includes/footer.html' %}
</body>

</html>