.planobject {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 4px solid black;
}

.quick-actions {
    display: flex;
    padding: .25rem 0;
    gap: .25rem;
}

.plantitle {
    margin: 0;
}

.plantitle a {
    color: black;
    text-decoration: none;
}

.plantitle a:hover {
    background: darkred;
    color: white;
}

.planvisibility {
    font-weight: bold;
    font-style: italic;
    font-size: .9rem;
}

.planvisibility.draft {
    color: darkred;
}

.planvisibility.published {
    color: darkgreen;
}

.plan-banner {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.plan-image {
    width: 200px;
    max-width: 90%;
    padding: 1rem;
}

.plan-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.button.publish {
    width: fit-content;
}

@media (max-width: 680px) {
    .plan-banner {
        flex-direction: column;
        align-items: flex-start;
    }
}