.plan-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding-bottom: 2rem;
}

.plan {
    width: 23%;
    display: flex;
    flex-direction: column;
}

.plan-cover {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 2.5rem 3rem;
}

.plan-cover img {
    width: 100%;
}

.plan-cover.featured {
    background: #ffcd28;
}

.plan-title {
    font-family: 'Times New Roman', Times, serif;
}

.plan-category {
    color: gray;
    font-size: .8rem;
}

.plan-author {
    font-size: .9rem;
    font-weight: 600;
}

.plan-views {
    margin-top: .5rem;
    display: flex;
    font-size: .8rem;
    gap: .25rem;
    align-items: center;
    color: gray;
}

@media (max-width: 768px) {
    .plan {
        width: 47%;
    }

    .plan-cover {
        padding: 1.2rem 2rem;
    }
}