.plan-header {
    align-items: flex-end;
}

.plan-cover {
    margin-right: 1rem;
    width: 21%;
    max-width: 100%;
}

.plan-cover img {
    width: 100%;
}

.exercise-list {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.exercise-list .list-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 100%;
    border: 1px solid gray;
    padding: 3rem;
    align-items: center;
    gap: .5rem;
}

.exercise-list .list-item .exercise-image {
    width: 100%;
}

.exercise-image img {
    width: 100%;
    margin: 0 auto;
}

@media(max-width: 680px) {
    .exercise-list .list-item {
        width: 100%;
    }
}