<div class="footwrapper">
    <div class="stack-small">
        <div class="flexbox gap">
            <div class="column">
                <ul class="footlist">
                    <li class="footlist-item"><a class="footlist-link" href="">About</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="">Events</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="">Support</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footlist">
                    <li class="footlist-item"><a class="footlist-link" href="">Health</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="">Strength plans</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="">Nutrition plans</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="">Mental plans</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footlist">
                    <li class="footlist-item"><a class="footlist-link" href="">Privacy Policy</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="">Health Policy</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="">Trainer Policy</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="">Client Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="lastline">
            <div><a class="footlist-link" href="">@firstfiverugby</a> 2024</div>
            
            <ul class="footlist">
                <li class="footlist-item"><a class="footlist-link" href="">Instagram</a></li>
                <li class="footlist-item"><a class="footlist-link" href="">Facebook</a></li>
            </ul>
        </div>
    </div>
</div>