<div class="footwrapper">
    <div class="stack-small">
        <div class="flexbox gap">
            <div class="column">
                <ul class="footlist">
                    <li class="footlist-item"><a class="footlist-link" href="">About</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="/events">Events</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="/members/login-support/">Support</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footlist">
                    <li class="footlist-item"><a class="footlist-link" href="/health">Health</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="/health/strength">Strength plans</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="/health/nutrition">Nutrition plans</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="/health/mental">Mental plans</a></li>
                </ul>
            </div>
            <div class="column">
                <ul class="footlist">
                    <li class="footlist-item"><a class="footlist-link" href="#">Privacy Policy</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="#">Health Policy</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="#">Trainer Policy</a></li>
                    <li class="footlist-item"><a class="footlist-link" href="#">Client Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="lastline">
            <div><a class="footlist-link" href="https://www.f5rugby.com">@firstfiverugby</a> 2024</div>
            
            <ul class="footlist">
                <li class="footlist-item"><a class="footlist-link" href="https://www.instagram.com/firstfiverugby/">Instagram</a></li>
                <li class="footlist-item"><a class="footlist-link" href="https://www.youtube.com/@firstfiverugby">YouTube</a></li>
            </ul>
        </div>
    </div>
</div>