<nav>
    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false" class="">Menu</button>
    <ul data-visible="false" id="primary-navigation" class="navlist">
        <li class="navitem"><a class="navlink" href="/">Home</a></li>
        <li class="navitem"><a class="navlink" href="/events">Events</a></li>
        <li class="navitem"><a class="navlink" href="/health">Health</a></li>
        <li class="navitem"><a class="navlink" href="/clubs">Clubs</a></li>
    </ul>
</nav>
